<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AllocationMethods.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AllocationMethods.Properties.Settings>
            <setting name="AllocationType" serializeAs="String">
                <value>Contiguous</value>
            </setting>
            <setting name="DiskBlockCount" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="RandomActionAfterBlankTicks" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MinimumFileSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaximumFileSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DiskStoreFrequencyLevel" serializeAs="String">
                <value>1</value>
            </setting>
        </AllocationMethods.Properties.Settings>
    </userSettings>
</configuration>